proposal.aux
proposal.lof
proposal.log
proposal.lot
proposal.out
proposal.synctex.gz
proposal.toc
proposal.acn
proposal.aux
proposal.bbl
proposal.dvi
proposal.glo
proposal.ist
proposal.lof
proposal.log
proposal.lot
proposal.out
image/
