*.aux
proposal.lof
proposal.log
proposal.lot
proposal.out
proposal.synctex.gz
proposal.toc
proposal.bbl
proposal.blg
*.log
proposal.fdb_latexmk
*.acn
*.acr
*.alg
*.glo
*.idx
*.ist
*.xdy
*.fls
*.ilg
*.fdb_latexmk
*.ind
